@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
    background-image: url('../images/header-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;

    &__top-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
    }

    &__content-inner {
        width: 505px;
        margin: 240px 0;
    }

    &__content-title {
        font-size: 55px;
        line-height: 70px;
        color: #fff;
        margin-bottom: 30px;
    }

    &__content-subtitle {
        color: #CDCDCD;
        margin-bottom: 43px;
    }

    &__content-link {
        padding: 10px 24px;
        background-color: #AE0F0F;
        font-weight: 600;
        font-size: 14px;
        line-height: 50px;
        text-transform: uppercase;
        color: #fff;
    }
}

.menu {
    &__list {
        display: flex;
        gap: 30px;
    }

    &__item-link {
        line-height: 50px;
        padding: 0 3px 10px;
        color: #FFFFFF;
        transition: all .7s;

        &:hover {
            border-bottom: 2px solid #AE0F0F;
        }
    }
}

.user-nav {
    display: flex;
    align-items: center;
    gap: 25px;

    &__form {
        display: flex;
        align-items: center;
    }

    &__input {
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 0;
    }

    &__btn {
        border: none;
        background-color: transparent;
        padding: 0;
        cursor: pointer;
    }

    &__info {
        padding: 5px 10px 5px 5px;
        background: #D9D9D9;
        display: flex;
        align-items: center;
        gap: 11px;
    }

    &__info-link {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        line-height: 50px;
        color: #AE0F0F;
    }
}

.menu-btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 6px;

    &__bar {
        display: block;
        background: #FFFFFF;
        height: 3px;
        width: 35px;
    }
}

.about {
    padding: 100px;
    background-repeat: no-repeat;
    background-position: left;

    &__inner {
        display: flex;
        align-items: center;
        gap: 78px;
    }

    &__info-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 14px 30px;
    }

    &__content-item {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 30px;
    }

    &__item-title {
        font-weight: 600;
        color: #000000;
    }

    &__info-item {
        border: 1px solid #B9B9B9;
        border-radius: 0px 28px;
        text-align: center;
        width: 160px;
        height: 94px;
    }

    &__info-num {
        @extend%audiowide;
        font-size: 30px;
        line-height: 55px;
        color: #484848;
        margin-bottom: 8px;
    }

    &__info-text {
        white-space: nowrap;
    }

}

.slider {
    background-color: #F8F8F8;
    padding: 100px 0;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content {
        width: 450px;
    }

    &__box-img {
        position: relative;
    }

    &__slide-box {
        text-align: center;
        position: absolute;
        bottom: 10px;
        right: 10%;

        img {
            display: inline-block;
        }
    }

    &__content-text {
        font-size: 14px;
        line-height: 26px;
        padding-left: 20px;
        position: relative;

        &::before {
            content: "";
            background-image: url('../images/icons/date.svg');
            position: absolute;
            bottom: 5px;
            left: 0;
            width: 15px;
            height: 15px;
        }
    }

    &__content-link {
        border: 1px solid #AE0F0F;
        padding: 7px 16px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        line-height: 50px;
        color: #AE0F0F;
        transition: all .7s;

        &:hover {
            background-color: #AE0F0F;
            color: #fff;
        }
    }

}

.swiper {
    width: 800px;
    height: 400px;

    &__arrows {}

    &__prev {}

    &__next {}
}

.swiper-slide {
    max-height: 354px;
}

.swiper-button-prev {
    left: 20px;
}

.swiper-button-next {
    right: 20px;
}

.trainers {
    background-color: #F8F8F8;
    padding: 100px 0;

    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
    }

    &__item {
        text-align: center;
        width: 350px;
    }

    &__img-box {
        position: relative;
    }

    &__item-img {
        display: inline-block;

    }

    &__box {
        position: relative;
        background-image: url('../images/icons/subtitle.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 350px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -50px;

    }

    &__name {
        font-weight: 600;
        color: #EFEFEF;
    }

    &__name-info {
        margin-bottom: 12px;
    }
}

.weekly {
    padding: 100px 0;

}



.social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
}

.table {
    background: #F8F8F8;
    border: 1px solid rgba(174, 15, 15, 0.25);
    margin: 0 auto;


    &__td {
        border: 1px solid rgba(174, 15, 15, 0.25);
        padding: 0.3vmin;
        width: 15vmin;
        height: 5vmin;
        text-align: center;
        font-weight: 300;
        font-size: 14px;
        line-height: 50px;
        color: #000000;

        span {
            display: block;
            font-weight: 400;
            color: #E29235;
        }

        &:hover {
            background-color: #E4E4E4;
            cursor: pointer;
        }

        &:first-child {
            width: 10vmin;
            padding: 0.7vmin;
        }
    }

    &__one {
        color: #AE0F0F;
    }
}

.calculate {
    &__form-radio {
        @extend%radio-hidden;

        &:checked {
            &+.calculate__radiochekbox {
                span {
                    background-color: #E12727;
                }
            }
        }
    }

    &__radiochekbox {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 1px solid #121111;
        cursor: pointer;
        display: inline-block;
        position: relative;

        span {
            position: absolute;
            display: inline-block;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: #B1B1B1;
        }

    }
}

.fitness-consultant {
    background-image: url('../images/consultant-bg1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 155px 0 184px;

    &__title {
        @extend%audiowide;
        font-size: 45px;
        line-height: 55px;
        color: #FFFFFF;
        margin-bottom: 18px;
    }

    &__phone {
        font-size: 30px;
        line-height: 55px;
        color: #fff;

        span {
            color: #AE0F0F;
        }
    }

}

.footer {

    &__top {
        padding: 90px 0px 160px;
        display: flex;
        justify-content: space-between;
        gap: 40px;
    }

    &__logo-text {
        width: 340px;
        margin: 7px 0 23px;
    }

    &__social {
        display: flex;
        align-items: center;
        gap: 22px;
    }

    &__social-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 46px;
        height: 46px;
        border: 1px solid #C0C0C0;
        border-radius: 4px;
        transition: all .7s;

        path {
            fill: #00B2FF;
        }
    }

    &__social-link:hover {
        path {
            fill: #E12727;
        }
    }

    &__items {
        display: flex;
        gap: 100px;
    }

    &__item-title {
        font-weight: 600;
        padding-bottom: 10px;
        color: #484848;
        position: relative;
        margin-bottom: 15px;

        &::after {
            content: "";
            position: absolute;
            width: 70px;
            height: 2px;
            background-color: #AE0F0F;
            bottom: 0;
            left: 0;
        }
    }

    &__item-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__list-item {
        max-width: 140px;
    }

    &__adress {
        margin-bottom: 15px;

        span {
            display: block;
        }
    }

    &__phone {
        font-weight: 600;
        padding: 3px 0 3px 17px;
        color: #AE0F0F;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            background-image: url('../images/icons/phone.svg');
            bottom: 7px;
            left: 0;
            width: 16.5px;
            height: 17px;
        }
    }

    &__email {
        display: block;
        color: #0094FF;
    }

    &__bottom {
        background-color: #121111;
        text-align: center;
        padding: 20px;
        font-size: 14px;
        line-height: 30px;
        letter-spacing: 0.045em;
        color: #FFFFFF;
    }
}

@import 'media';